<div id="particles-js"></div>
<!-- navbar start -->
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h2>AIVSOL</h2>
    </a>

    <div class="navbar-burger burger" (click)="isActive = !isActive" [class.is-active]="isActive" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" [class.is-active]="isActive" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <a pageScroll class="navbar-item" href="#services">
          Services
        </a>
      <a pageScroll class="navbar-item" href="#products">
          Products
      </a>
      <a pageScroll class="navbar-item" href="#contact">
          Contact
      </a>
    </div>
  </div>
</nav>
<!-- navbar end -->
<div class="hero is-fullheight landing">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-10 is-offset-1">
          <h1 class="lanidng__heading-block--1">Intelligent Automotive Solutions.</h1>
        </div>
        <div class="column is-10 is-offset-1">
          <p class="has-text-centered">
            We apply machine learning and create intelligent software solutions for vehicles.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="services" class="services hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="has-text-centered title services__section-title">Services</h1>
      <p class="services__section-description">We combine deep learning and computer vision techniques to build advanced and intelligent automotive solutions. We are a team of highly skilled engineers and scientists passionate about understanding the world around us and making it a better and safe palce to live.</p>
      <div class="columns">
        <!-- left -->
        <div class="column">
          <article class="media services__list-item" *ngFor="let service of (services ? services.slice(0,4): []);">
            <figure class="media-left">
              <p class="image services__icon-wrapper">
                <span class="icon is-large">
                  <i class="fa fa-{{service.icon}}"></i>
                </span>
              </p>
            </figure>
            <div class="media-content">
              <span class="services__list-title">{{service.title}}</span>
            </div>
          </article>
        </div>
        <!-- right -->
        <div class="column">
          <article class="media services__list-item" *ngFor="let service of (services ? services.slice(4,8): []);">
            <figure class="media-left">
              <p class="image services__icon-wrapper">
                <span class="icon is-large">
                  <i class="fa fa-{{service.icon}}"></i>
                </span>
              </p>
            </figure>
            <div class="media-content">
              <span class="services__list-title">{{service.title}}</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="products" class="section">
  <div class="container">
    <div class="content">
      <h1 class="has-text-centered">Products</h1>
      <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices
        lacus quis neque consectetur, et lobortis nisi molestie.</p>
      <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum
        interdum commodo.</p>
      <dl>
        <dt>Web</dt>
        <dd>The part of the Internet that contains websites and web pages</dd>
        <dt>HTML</dt>
        <dd>A markup language for creating web pages</dd>
        <dt>CSS</dt>
        <dd>A technology to make HTML look better</dd>
      </dl>
      <p>Suspendisse egestas sapien non felis placerat elementum. Morbi tortor nisl, suscipit sed mi sit amet, mollis malesuada
        nulla. Nulla facilisi. Nullam ac erat ante.</p>
      <h4>Fourth level</h4>
      <p>Maecenas eleifend sollicitudin dui, faucibus sollicitudin augue cursus non. Ut finibus eleifend arcu ut vehicula. Mauris
        eu est maximus est porta condimentum in eu justo. Nulla id iaculis sapien.</p>
      <table>
        <thead>
          <tr>
            <th>One</th>
            <th>Two</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Three</td>
            <td>Four</td>
          </tr>
          <tr>
            <td>Five</td>
            <td>Six</td>
          </tr>
          <tr>
            <td>Seven</td>
            <td>Eight</td>
          </tr>
          <tr>
            <td>Nine</td>
            <td>Ten</td>
          </tr>
          <tr>
            <td>Eleven</td>
            <td>Twelve</td>
          </tr>
        </tbody>
      </table>
      <p>Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam
        iaculis lorem ac nibh bibendum rhoncus. Nam interdum efficitur ligula sit amet ullamcorper. Etiam tristique, leo
        vitae porta faucibus, mi lacus laoreet metus, at cursus leo est vel tellus. Sed ac posuere est. Nunc ultricies nunc
        neque, vitae ultricies ex sodales quis. Aliquam eu nibh in libero accumsan pulvinar. Nullam nec nisl placerat, pretium
        metus vel, euismod ipsum. Proin tempor cursus nisl vel condimentum. Nam pharetra varius metus non pellentesque.</p>
      <h5>Fifth level</h5>
      <p>Aliquam sagittis rhoncus vulputate. Cras non luctus sem, sed tincidunt ligula. Vestibulum at nunc elit. Praesent aliquet
        ligula mi, in luctus elit volutpat porta. Phasellus molestie diam vel nisi sodales, a eleifend augue laoreet. Sed
        nec eleifend justo. Nam et sollicitudin odio.</p>
      <figure>
        <img src="http://bulma.io/images/placeholders/256x256.png">
        <img src="http://bulma.io/images/placeholders/256x256.png">
        <figcaption>
          Figure 1: Some beautiful placeholders
        </figcaption>
      </figure>
      <h6>Sixth level</h6>
      <p>Cras in nibh lacinia, venenatis nisi et, auctor urna. Donec pulvinar lacus sed diam dignissim, ut eleifend eros accumsan.
        Phasellus non tortor eros. Ut sed rutrum lacus. Etiam purus nunc, scelerisque quis enim vitae, malesuada ultrices
        turpis. Nunc vitae maximus purus, nec consectetur dui. Suspendisse euismod, elit vel rutrum commodo, ipsum tortor
        maximus dui, sed varius sapien odio vitae est. Etiam at cursus metus.</p>
    </div>
  </div>
</section>
<!-- <div class="hero-body">
    <p style="font-size: 14px;">
            <a data-name="hello" data-domain="aivsol" data-tld="com" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
          </p>
         -->
<footer class="footer footer-map" id="contact">
  <div class="container">
    <div class="content footer__text-offset">
      <h1 class="has-text-centered title">Contact</h1>
      <p>If you are interested in any of our services or just want to say hi, please stop by or send us an email.</p>
      <div class="columns">
        <div class="column">
          <p>
            <b>Aivsol GmbH</b><br> Endelhauserstraße 2<br> 80686 München<br> Germany
          </p>
        </div>
        <div class="column">
          <p>
            <!-- <a class="icon" href="https://github.com/jgthms/bulma">
                  <i class="fa fa-github"></i>
                </a> -->
            <!-- <a href="mailto:hello@aivsol.com" class="button is-info is-outlined is-large">Send us an email</a> -->
            <a data-name="hello" data-domain="aivsol" data-tld="com" href="#" class="cryptedmail button is-info is-outlined is-large"
              onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
