/* TODO: change to scss & add responsive mixins */

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  color: #fff;
}

.landing {
  background-color: #1a50b3;
  z-index: 1;
  /* background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6); */
}

#particles-js {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.landing h1 {
  font-size: 65px;
  color: #fff;
  font-weight: 500;
}

.lanidng__heading-block--1 {
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  animation: show-in-h1 2s;
}

.navbar {
  /* background-color: #0850D4; */
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: 2px 2px 5px #888888;
  background-color: #FAFAFA;
}

.navbar-item {
  /* color: #fff; */
}

@keyframes show-in-h1 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing p {
    color: #fff;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

@media only screen and (max-width: 768px) {
  .landing h1 {
      font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .landing h1 {
      font-size: 45px;
  }
}

@media only screen  and (min-width : 1224px) {
  .services__list {
    font-size: 26px; 
  }
}

.services__cube-img {
  height: 80%;
  margin: 0 auto;
}

.services__list-unstyled {
  list-style: none;
}

.title {
  text-transform: uppercase;
}
